<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb381203239202249</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-pnTd3gA75JSqZM7PYvufD29Lh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.citybud.app</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>857483359261343744-pnTd3gA75JSqZM7PYvufD29Lh</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>pnTd3gA75JSqZM7PYvufD29Lh</string>
					<key>consumerSecret</key>
					<string>INLQ2AlDwa99T8lCFtLHxUhV07h9ceOFLOT1ZuGnZXZMd9peSB</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>381203239202249</string>
	<key>FacebookDisplayName</key>
	<string>CityBud</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>twitterauth</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
		<string>comgooglemaps</string>
		<string>comgooglemaps://</string>
		<string>uber</string>
		<string>uberauth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>${PRODUCT_NAME} This app requires to access your calender to save the event date.</string>
	<key>NSCameraUsageDescription</key>
	<string>${PRODUCT_NAME} This app requires to access your camera to show image on profile and upload event the image on server</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) This app requires contacts access so it can send the message if user needed. </string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) Please, allow GPS at all times, enabling this app to send your current location to our all mighty database continuously. We promise not to share your location data with others.</string>
	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME) We're using your location get nearby events and places</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) We're using your location get nearby events and places</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) This app requires to access your microphone to search the  ocation get nearby events and places using your voice</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>${PRODUCT_NAME} This app requires to access your photo library to show image on profile and upload event the image on server</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UberCallbackURIs</key>
	<array>
		<dict>
			<key>URIString</key>
			<string>com.citybud.app://oauth/consumer</string>
			<key>UberCallbackURIType</key>
			<string>General</string>
		</dict>
	</array>
	<key>UberClientID</key>
	<string>Cps7eQBfaC9RCCE7ml8p33KU0X2s0uG3</string>
	<key>UberDisplayName</key>
	<string>CityBud</string>
</dict>
</plist>
